//globales//
$mainColor:rgba(7, 7, 7, 0.953);
$bgColor:rgb(240, 248, 255);
$colorContacto:rgba(112, 112, 112, 0.737);
$whiteColor:rgb(255, 255, 255);
$maincolor1:rgba(23, 22, 22, 0.981);
$errorColor:rgb(238,238,238);
$errorColorh1:rgba(255, 77, 0, 0.778) ;
$bgh2: rgb(32, 36, 52) ;
$imputbgColor: #1C2E30;

//button//
$bgColorButton: rgb(31, 31, 31) ;
$borderColor: rgb(0, 0, 0) ;

//fonsFamily//
$fontFamily: Arial, Helvetica, sans-serif;
//fontsColor//
$fontsColorWhite: rgba(255, 255, 255, 0.721);
$fontsColorWhite2: rgb(255,255,255);
$fontsColorWhite3: rgb(155, 153, 153);
$fontColorp: rgba(0, 0, 0, 0.556);

//weigth//
$fontWeight1:200;
$fontWeight2:600;
$fontWeight3:900;
$fontWeight4:400;


//size//
$fontSize1: 0.6em;
$fontSize2: 1em;
$fontSize3: 1.3em;
$fontSize4: 1.4em;
$fontSize5: 1.5em;
$fontSize6: 1.8em;
$fontSize7: 2.5em;
$fontSize8: 3em;
$fontSize9: 12em;

//line heigt//
$lineHeight1: 1.2;

//hover//
$bgColorhover:rgb(141, 141, 141);
